doctype
html.no-js(lang="ru")
  head
    meta(charset="UTF-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1.0"
    )
    meta(
      http-equive="X-UA-Compatible",
      content="IE=edge"
    )
    title Renome
  body
    #root

    script(async, src="/media/public/js/main.js", type="application/javascript")
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
    link(
      rel="stylesheet",
      href="/media/public/css/main.css",
      type="text/css"
    ) 
